@inject IStringLocalizer<Footer> StringLocalizer

<footer class="footer">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell">
                <div class="mat-layout-grid">
                    <div class="mat-layout-grid-inner mb-5">
                        <div class="mat-layout-grid-cell">@StringLocalizer["About us"]</div>
                    </div>
                    <div class="mat-layout-grid-inner mb-4">
                        <div class="mat-layout-grid-cell">KriszW Software</div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            @StringLocalizer["Head office"]: @StringLocalizer["Hungary"], 9408 Sopron-Görbehalom Csillés köz 1
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            @StringLocalizer["Email"]: <a href="mailto:info@kwsoft.dev">info@kwsoft.dev</a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            @StringLocalizer["Phone number"]: <a href="tel:+36309136248">+36309136248</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mat-layout-grid-cell">
                <div class="mat-layout-grid">
                    <div class="mat-layout-grid-inner mb-5">
                        <div class="mat-layout-grid-cell">@StringLocalizer["Services"]</div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/services/unique-dev">
                                @StringLocalizer["Unique software development"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/services/web-dev">
                                @StringLocalizer["Web development"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/services/mobile-dev">
                                @StringLocalizer["Mobile development"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/services/industry-4_0">
                                @StringLocalizer["Industry 4.0"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">

                            <a href="/services/tech-we-use">
                                @StringLocalizer["Technologies we use"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/services/process-and-strategy">
                                @StringLocalizer["Process and Strategy"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mat-layout-grid-cell">
                <div class="mat-layout-grid">
                    <div class="mat-layout-grid-inner mb-5">
                        <div class="mat-layout-grid-cell">@StringLocalizer["Useful links"]</div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/aboutus">
                                @StringLocalizer["About us"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/career">
                                @StringLocalizer["Career"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/news">
                                @StringLocalizer["News"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/privacy-policy">
                                @StringLocalizer["Privacy policy"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/contact">
                                @StringLocalizer["Contact"]
                            </a>
                        </div>
                    </div>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <a href="/references">
                                @StringLocalizer["References"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>