@using HomeAPP.WebAPPs.SPA.Blazor.WASM.Shared.Settings

@inject IStringLocalizer<NavMenu> StringLocalizer

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top background-prim-color d-flex">
    <div class="container">
        <a class="navbar-brand text-light align-self-baseline" href="/">KriszW Software</a>
        
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="@StringLocalizer["Toggle navigation"]">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
            <div class="navbar-nav flex-grow-1">

                <div class="nav-item">
                    <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="">
                        @StringLocalizer["Home"]
                    </NavLink>
                </div>

                <div class="nav-item dropdown" @onmouseover="() => SetCollapseServices(false)" @onmouseout="() => SetCollapseServices(true)">
                    <div class="d-flex justify-content-between align-items-center mb-0">
                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services">
                            @StringLocalizer["Services"]
                        </NavLink>

                        <MatIcon Icon="@ServicesDropdownIconClass" Class="text-white" />
                    </div>
                    
                    

                    <div class="dropdown-menu @(collapseServices ? "d-none" : "d-block") text-white background-prim-color mt-0">
                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services/unique-dev">
                            @StringLocalizer["Unique software development"]
                        </NavLink>
                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services/web-dev">
                            @StringLocalizer["Web development"]
                        </NavLink>
                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services/mobile-dev">
                            @StringLocalizer["Mobile development"]
                        </NavLink>
                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services/industry-4_0">
                            @StringLocalizer["Industry 4.0"]
                        </NavLink>
                        
                        <MatDivider />

                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services/tech-we-use">
                            @StringLocalizer["Technologies we use"]
                        </NavLink>

                        <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services/process-and-strategy">
                            @StringLocalizer["Process and Strategy"]
                        </NavLink>
                    </div>
                </div>



                <div class="nav-item">
                    <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/aboutus">
                        @StringLocalizer["About us"]
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/contact">
                        @StringLocalizer["Contact"]
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/career">
                        @StringLocalizer["Career"]
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/news">
                        @StringLocalizer["News"]
                    </NavLink>
                </div>

                <div class="align-self-end">
                    <SettingsContainer />
                </div>

            </div>
        </div>
    </div>
</nav>



@code {
    private bool collapseNavMenu = true;

    private bool collapseServices = true;

    private string ServicesDropdownIconClass => collapseServices ? MatIconNames.Arrow_drop_down : MatIconNames.Arrow_drop_up;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    private void SetCollapseServices(bool value) => collapseServices = value;
}
