@using HomeAPP.WebAPPs.SPA.Blazor.WASM.Shared.Settings

@inject ILanguageContainerService LocalizationService

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top background-prim-color">
    <div class="container">
        <a class="navbar-brand text-light" href="/">@LocalizationService.Keys["GLOBAL_BRANDNAME"]</a>
        
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="@LocalizationService.Keys["NavMenu_ToogleButtonLabel"]">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="ToggleNavMenu">
            <div class="navbar-nav flex-grow-1">
                <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="">
                    @LocalizationService.Keys["NavMenu_HomePage"]
                </NavLink>

                <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/services">
                    @LocalizationService.Keys["NavMenu_Services"]
                </NavLink>

                <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/aboutus">
                    @LocalizationService.Keys["NavMenu_AboutUs"]
                </NavLink>

                <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/contact">
                    @LocalizationService.Keys["NavMenu_Contact"]
                </NavLink>

                <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/career">
                    @LocalizationService.Keys["NavMenu_Career"]
                </NavLink>

                <NavLink class="nav-link text-light" Match="NavLinkMatch.All" href="/news">
                    @LocalizationService.Keys["NavMenu_News"]
                </NavLink>

                <div class="align-self-end">
                    <SettingsContainer />
                </div>
            </div>
        </div>
    </div>
</nav>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
