@page "/services"
@inject ILanguageContainerService LocalizationService

@using HomeAPP.WebAPPs.SPA.Blazor.WASM.Pages.Services.Component 

@*
    <----------------------------------------->

    Unique Software Development
    Web dev
        API
    Mobile dev
    AI
        Machine learning
    Data Architecture
    Industry 4.0
    Technologies we use

    <----------------------------------------->
*@

<TextOverImage 
               Alt="@LocalizationService.Keys["Services_ImageAlt_TextOverImage"]" 
               Src="https://via.placeholder.com/1000x300" 
               TextPosition="TextOverImageType.Centered" 
>
    <Text>
        @LocalizationService.Keys["Services_TextOverImage_Text"]
    </Text>
</TextOverImage>

<div class="services-container">

    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell">
                <ServiceCardComponent ImageSRC="https://via.placeholder.com/300" ServiceURL="/services/unique-dev">

                    <Title>@LocalizationService.Keys["Services_ServiceCards_Card_UniqueDev_Title"]</Title>

                    <Content>@LocalizationService.Keys["Services_ServiceCards_Card_UniqueDev_Content"]</Content>

                </ServiceCardComponent>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell">
                <ServiceCardComponent ImageSRC="https://via.placeholder.com/300" ServiceURL="/services/web-dev">

                    <Title>@LocalizationService.Keys["Services_ServiceCards_Card_WebDev_Title"]</Title>

                    <Content>@LocalizationService.Keys["Services_ServiceCards_Card_WebDev_Content"]</Content>

                </ServiceCardComponent>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell">
                <ServiceCardComponent ImageSRC="https://via.placeholder.com/300" ServiceURL="/services/mobile-dev">

                    <Title>@LocalizationService.Keys["Services_ServiceCards_Card_MobileDev_Title"]</Title>

                    <Content>@LocalizationService.Keys["Services_ServiceCards_Card_MobileDev_Content"]</Content>

                </ServiceCardComponent>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell">
                <ServiceCardComponent ImageSRC="https://via.placeholder.com/300" ServiceURL="/services/industry-4_0">

                    <Title>@LocalizationService.Keys["Services_ServiceCards_Card_Industry4_0_Title"]</Title>

                    <Content>@LocalizationService.Keys["Services_ServiceCards_Card_Industry4_0_Content"]</Content>

                </ServiceCardComponent>
            </div>
            
            <div class="mat-layout-grid-cell mat-layout-grid-cell">
                <ServiceCardComponent ImageSRC="https://via.placeholder.com/300" ServiceURL="/services/tech-we-use">

                    <Title>@LocalizationService.Keys["Services_ServiceCards_Card_TwU_Title"]</Title>

                    <Content>@LocalizationService.Keys["Services_ServiceCards_Card_TwU_Content"]</Content>

                </ServiceCardComponent>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell">
                <ServiceCardComponent ImageSRC="https://via.placeholder.com/300" ServiceURL="/services/process-and-strategy">

                    <Title>@LocalizationService.Keys["Services_ServiceCards_Card_PaS_Title"]</Title>

                    <Content>@LocalizationService.Keys["Services_ServiceCards_Card_PaS_Content"]</Content>

                </ServiceCardComponent>
            </div>
        </div>
    </div>

</div>